{{ define "admin" }}

{{ template "header" }}

<main class="px-3">
    <br>
    <h1 class="cover-heading">Панель администратора</h1>
    <br>

    <div class="alert alert-danger">
        {{ range . }}
        <form action="/admin_edit" method="post">
            <input type="hidden" name="id" id="id" value="{{.Id}}">
            <input type="text" name="name" id="name" value="{{.Name}}" class="form-control">
            <input type="text" name="pas" id="pas" value="{{.Pas}}" class="input-group-sm"><input type="text" name="score" id="score" value="{{.Score}}" class="input-group-sm">
            <button class="btn btn-warning">Ok</button><br>
        </form>
        {{ else }}
        <p class="lead">Еще нет пользователей.</p>
        {{ end }}
    </div>

</main>

{{ template "footer" }}

{{ end }}