{{ define "index" }}

{{ template "header" }}

<main class="px-3">
    <br>
    <h1 class="cover-heading">Лучшие игроки</h1>
    <p class="lead"></p>

    <div>
        <input type="checkbox" id="hd-1" class="hide"/>
        <label for="hd-1" >ПРАВИЛА</label>
        <div>
            Нужно угадать число из указанного вами количества цифр. Компьютер сообщает в ответ, сколько цифр угадано без совпадения с их позициями (то есть количество коров) и сколько угадано вплоть до позиции (то есть количество быков).
            <br>
            Например: Задумано тайное число «3219».  Попытка: «2310».  Результат: две «коровы» (две цифры: «2» и «3» — угаданы на неверных позициях) и один «бык» (одна цифра «1» угадана вплоть до позиции).
        </div>
        <br/>
    </div>
    <br>

    <div class="alert alert-danger">
        <ul>
        {{ range . }}
            <h3>{{ .Name }}  {{ .Score }}</h3>
        {{ else }}
            <p class="lead">Еще нет результатов.</p>
        {{ end }}
        </ul>
    </div>

    <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">администратор</a>
    </p>

</main>

{{ template "footer" }}

{{ end }}