{{ define "kolcif" }}

{{ template "header" }}

<main class="px-3">
    <br>
    <h1 class="cover-heading">{{ .Name }}&nbsp;&nbsp;{{ .Score }}</h1><br>

    <form action="/new_user" method="get">
        <button autofocus class="btn btn-danger">другой пользователь</button>
    </form>

    <form action="/new_game" method="post">
        <br><br>
        {{ if eq .Id -1 }}
        <h3 style="color:#ff0000">Введено не правильное количество цифр</h3><br>
        {{ end }}
        <br>
        <input autofocus type="text" name="kol" id="kol" placeholder="Введите количество цифр" class="form-control"><br>
        <button autofocus class="btn btn-warning">Ok</button>
    </form>
    <br>

</main>

{{ template "footer" }}

{{ end }}